/* ESTILOS Generales*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/*Header*/
header {
  background-color: transparent;
  color: #993434;
  padding: 16px 0;
}

.contenedor-header {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.imagen-con-texto img {
  width: 100%;
}

.texto-encima {
  position: absolute;
  top: 50%;
  left: 5%;
  color: #993434;
  font-size: 50px;
  border-radius: 8px;
  font-weight: bold;
}

/*Navegación*/
.nav {
  display: flex;
  gap: 15px;
}

.nav a {
  color: #993434;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.6s;
}

.nav a:hover {
  color: #4b000f;
}

/*Iconos CARRITO - USUARIO*/
.iconos i {
  font-size: 19px;
  margin-left: 16px;
  cursor: pointer;
}

/* Raíz */
.contenido {
  padding: 32px 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
}

.producto {
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
}

.producto:hover {
  transform: scale(1.02);
}

.producto img {
  width: 100%;
  max-width: 150px;
  margin-bottom: 16px;
}

.precio {
  font-weight: bold;
  margin: 8px 0;
}

button {
  background-color: #242424;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #444;
}

/*Promociones*/
.promociones {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
  height: 270px;
}

.promociones .item {
  text-align: center;
  max-width: 200px;
}

.promociones img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.promociones img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.promociones p b{
  margin-top: 10px;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

/*Footer DERECHOS DE AUTOR*/
footer {
  background-color: #242424;
  color: white;
  text-align: center;
  padding: 16px;
  margin-top: 80px;
}

/* sub menu */

.sub-nav {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}

.sub-nav a {
  color: #993434; /* vinotinto */
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  transition: color 0.3s ease;
}

.sub-nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: #993434;
  transition: width 0.3s ease;
}

.sub-nav a:hover {
  color: #4b000f; /* un vinotinto más oscuro al pasar */
}

.sub-nav a:hover::after {
  width: 100%;
}
